@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.user != null)
{
    <span>Logged in as: </span><div id="currentUser">@ViewBag.user</div>
}


<h2>Messages</h2>

<div ng-app="msg-app">
    <div ng-controller="MsgController">
        <div>
            <ul>
                <li ng-repeat="msg in messages" id="msgList">
                    <button ng-click="send()">Title: </button><span>{{msg.Title}}</span><br/>
                    From: <span>{{msg.FromDisplay}}</span><br/>
                    Body: <span>{{msg.Body}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div ng-controller="myCtrl">
        FirstName: <input ng-model="firstname">LastName: <input ng-model="lastname">
        <h1>{{firstname}}{{lastname}}</h1>
        <br />
        <input type="submit" value="Submit" id="sendMsg" />
    </div>
</div>



@section Scripts {
    <script src="/Scripts/Angular/message.js"></script>
}