@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/App/Messages/App.js"></script>
    <script src="~/App/Messages/ViewModels/RootViewModel.js"></script>
    <script src="~/App/Messages/ViewModels/MessagesHomeViewModel.js"></script>
    <script src="~/App/Messages/ViewModels/MessagesListViewModel.js"></script>
    <script src="~/App/Messages/ViewModels/MessagesViewModel.js"></script>
    <script src="~/App/Messages/ViewModels/MessagesDetailViewModel.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("messages"), ['messages']);
}

@if (ViewBag.user != null)
{
    <span>Logged in as: </span><div id="currentUser">@ViewBag.user</div>
}

@*<h2>Messages</h2>*@

<div ng-non-bindable>
    <div id="messages" data-ng-controller="rootViewModel">
        <h2>{{ pageHeading }}</h2>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="msgList()">Order List</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="showMsg()">Order</button>&nbsp;
                <input type="text" ng-model="orderService.orderId" />
            </div>
        </div>
        <hr />
        <div ng-view></div>
        <hr />
        <div>
            <a href="#" ng-click="viewModelHelper.refreshPage('customer')">Customers</a><!-- note: NOT navigateTo -->
            &nbsp;|&nbsp;
            <a href="#" ng-click="viewModelHelper.refreshPage('product')">Products</a>
            &nbsp;|&nbsp;
            <a href="#" ng-click="viewModelHelper.refreshPage('order')">Orders</a>
            &nbsp;|&nbsp;
        </div>
    </div>
</div>


@*<div ng-app="msg-app">
    <div ng-controller="MsgController">
        <div>
            <ul>
                <li ng-repeat="msg in messages track by msg.MessageID" id="msgList">
                    <button ng-click="send()">Title: </button><span>{{msg.Title}}</span><br/>
                    From: <span>{{msg.FromDisplay}}</span><br/>
                    Date: <span>{{msg.Created}}</span><br/>
                    Body: <span>{{msg.Body}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div ng-controller="sendMsg">
        To: <input type="text" ng-model="todisplay">
        Subject: <input type="text" ng-model="subject">
        Body: <input type="text" ng-model="body">
        
        
        <input type="submit" value="Submit" id="sendMsg" />
    </div>
</div>*@

@*FirstName: <input ng-model="firstname">LastName: <input ng-model="lastname">
    <h1>{{firstname}}{{lastname}}</h1>
    <br />*@